<div class="mui-panel class main form">

              <div class="mui-container-fluid">
                 <form action="">
                 <legend>Add Contacts</legend>
                  <div class="mui-row">
                    <div class="mui-col-md-6">
                        <div class="mui-textfield">
                            <input type="text" placeholder="Name">
                        </div>

                    </div>
                    <div class="mui-col-md-6">
                        <div class="mui-textfield">
                            <input type="tel" placeholder="Contact Number">
                        </div>
                    </div>
                  </div>

                  <div class="mui-row">
                    <div class="mui-col-md-6">
                        <div class="mui-textfield">
                            <input type="tel" placeholder="Contact Number 2">
                        </div>

                    </div>
                    <div class="mui-col-md-6">
                        <div class="mui-textfield">
                            <input type="email" placeholder="Email Id">
                        </div>
                    </div>
                  </div>

                   <div class="mui-row">
                    <div class="mui-col-md-6">
                        <div class="mui-textfield">
                            <input type="tel" placeholder="Collage Name">
                        </div>

                    </div>
                    <div class="mui-col-md-6">
                        <div class="mui-textfield">
                            <input type="email" placeholder="Qualification">
                        </div>
                    </div>
                  </div>

                  <div class="mui-row">
                    <div class="mui-col-md-6">
                        <div class="mui-textfield">
                            <input type="tel" placeholder="Year of Passing">
                        </div>

                    </div>
                    <div class="mui-col-md-6">
                        <div class="mui-select">
                            <select>
                              <option>User</option>
                            </select>
                            <label>Assign User</label>
                        </div>
                    </div>
                  </div>
                  <button type="submit" class="mui-btn mui-btn--primary">Add Contact</button>

                </form>
              </div>
          </div>
