 <div class="mui-panel class main form">
         <form class="mui-form AddEmployee">
          <legend>Add Employee</legend>
          <div class="mui-textfield">
            <input type="text" placeholder="Employee Id">
          </div>
          <div class="mui-textfield">
            <input type="text" placeholder="Employee Name">
          </div>
           <div class="mui-textfield">
            <input type="email" placeholder="Employee Email">
          </div>
          <div class="mui-select">
            <select>
              <option>Designation</option>
            </select>
            <label>Select Designation</label>
          </div>
           <div class="mui-select">
            <select>
              <option>Technology</option>
            </select>
            <label>Select Technology</label>
          </div>
         <div class="mui-textfield">
            <input type="number" placeholder="Experiance">
          </div>
          <div class="mui-textfield">
            <input type="tel" placeholder="Phone">
          </div>
          <div class="mui-textfield">
            <input type="email" placeholder="Official Email id">
          </div>



          <button type="submit" class="mui-btn mui-btn--primary">Submit</button>
          <button type="submit" class="mui-btn mui-btn--accent">Cancel</button>
        </form>
</div>
