 <div class="mui-panel class main form">
 <form class="mui-form AddUser">
  <legend>Add User</legend>
  <div class="mui-textfield">
    <input type="text" placeholder="Username">
  </div>
  <div class="mui-textfield">
    <input type="password" placeholder="Password">
  </div>
  <p><b>Select Modules below</b></p>
  <div class="mui-checkbox">
    <label>
      <input type="checkbox" value="" checked>
      Recruitment
    </label>
  </div>
  <div class="mui-checkbox">
    <label>
      <input type="checkbox" value="" checked>
      Student
    </label>
  </div>
  <div class="mui-checkbox">
    <label>
      <input type="checkbox" value="" checked>
      Report
    </label>
  </div>
   <div class="mui-checkbox">
    <label>
      <input type="checkbox" value="" checked>
      Pending Report
    </label>
  </div>
   <div class="mui-checkbox">
    <label>
      <input type="checkbox" value="" checked>
      Employee
    </label>
  </div>
  <button type="submit" class="mui-btn mui-btn--primary">Submit</button>
</form>
</div>
