<div class="mui-panel class main form">
 <form class="mui-form AddUser">
  <legend>Create ticket</legend>
  <div class="mui-textfield">
    <input type="text" placeholder="Ticket Number">
  </div>
  <div class="mui-select">
          <select>
          <option>Select Category</option>
        </select>
  </div>
   <div class="mui-select">
          <select>
          <option>Select Employee</option>
        </select>
  </div>
  <div class="mui-textfield">
    <textarea placeholder="Message"></textarea>
  </div>
  <button type="submit" class="mui-btn mui-btn--primary">Submit</button>
  <button type="submit" class="mui-btn mui-btn--danger">Cancel</button>
</form>
</div>
