<section>
            <div class="mui-panel class main form">
            <form class="mui-form">
            <legend>Follow Up</legend>
                 <div class="mui-container-fluid">
                  <div class="mui-row">
                       <div class="mui-col-md-3">
                             <div class="mui-select">
                                <select>
                                  <option>User Name</option>
                                </select>
                                <label>Select User</label>
                              </div>
                       </div>
                       <div class="mui-col-md-3">
                         <div class="mui-textfield">
                            <input type="date">
                            <label>Select Date</label>
                          </div>
                       </div>
                       <div class="mui-col-md-3">
                           <div class="mui-textfield">
                            <input type="date">
                            <label>Select Date</label>
                          </div>
                       </div>
                       <div class="mui-col-md-2">
                       <button type="submit" class="mui-btn mui-btn--primary">Get Listing</button>
                       </div>
                       <div class="mui-col-md-1"></div>
                  </div>
                 </div>
            </form>
            <section class="searchContact">
                <input type="text" class="" placeholder="Search">
            </section>


            <table class="mui-table">
          <thead>
            <tr>
              <th><input type="checkbox"></th>
              <th>Sl No</th>
              <th>Name</th>
              <th>Contact 1</th>
              <th>Contact 2</th>
              <th>Email Id</th>
              <th>College Name</th>
              <th>Qualification</th>
              <th>Year of Passing</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>11</td>
              <td>Name</td>
              <td>Contact</td>
              <td>Contact</td>
              <td>Technology</td>
              <td>@email.com</td>
              <td>Degree</td>
              <td>2005</td>

            </tr>
          </tbody>

        </table>
        <p>Showing Contact 10 out of 30</p>
         <p class="show">
             Show
             <select class="showcount">
              <option>10</option>
              <option>20</option>
              <option>30</option>
            </select>
         </p>

           <button type="submit" class="mui-btn mui-btn--raised">Prev</button>
           <button type="submit" class="mui-btn mui-btn--raised">Next</button>
            </div>


        </section>
