<section>
            <div class="mui-panel class main form">
            <form class="mui-form">
            <legend>Upload Db</legend>
             <p>Sample excelsheet: <a href="">Download</a></p>
              <div class="mui-upload">
                  <input  id="upload-db"  name="upload-db" type="file"/>
              </div>
              <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
            </form>

            </div>

            <div class="mui-panel class main form">
            <form class="mui-form">
            <legend>Assign Contacts</legend>
                 <div class="mui-select">
                      <select>
                      <option>Select User</option>
                    </select>
                 </div>
              <button type="submit" class="mui-btn mui-btn--raised">Assign</button>
            </form>
            <section class="searchContact">
                <input type="text" class="" placeholder="Search">
            </section>


            <table class="mui-table">
          <thead>
            <tr>
              <th><input type="checkbox"></th>
              <th>Sl No</th>
              <th>Name</th>
              <th>Contact 1</th>
              <th>Contact 2</th>
              <th>Email Id</th>
              <th>College Name</th>
              <th>Qualification</th>
              <th>Year of Passing</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>11</td>
              <td>Name</td>
              <td>Contact</td>
              <td>Contact</td>
              <td>Technology</td>
              <td>@email.com</td>
              <td>Degree</td>
              <td>2005</td>

            </tr>
          </tbody>

        </table>
        <p>Showing Contact 10 out of 30</p>
         <p class="show">
             Show
             <select class="showcount">
              <option>10</option>
              <option>20</option>
              <option>30</option>
            </select>
         </p>

           <button type="submit" class="mui-btn mui-btn--raised">Prev</button>
           <button type="submit" class="mui-btn mui-btn--raised">Next</button>
            </div>


        </section>
